.contenedor {
  background: white;
  min-height: auto;
  display: flex;
  align-items: center;
}
.texto {
  width: 100%;
  color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 300px;
  font-weight: bold;

  background-image: url(imagenes/portada.jpg);
  background-size: cover;
  background-position-y: 700px;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-animation-fill-color: transparent;
}

ul li a {
  position: relative;
  display: block;
  color: #000;
  -webkit-text-stroke: 1px #fff;
  font-size: 2em;
  font-weight: 900;
  text-decoration: none;
  line-height: 1.2em;
}
ul li a:hover {
  color: #fff -webkit-text-stroke 1px #000;
  transition: 0.5s;
}
ul li a:before,
ul li a:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
ul li a:hover:before {
  color: #f00;
  z-index: 1;
  -webkit-text-stroke: 1px #000;
  transform: translate(10px, -10px);
}
ul li a:hover:after {
  color: #0ff;
  z-index: 2;
  -webkit-text-stroke: 1px #000;
  transform: translate(20px, -20px);
}
